# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*
!.env.example

# vuepress v2.x temp and cache directory
.temp
.cache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test


.vscode
output.txt
faiss_index
!tests/infrastructure/bot/documents/
vectorstore
!tests/infrastructure/faiss/documents/
.DS_Store
/build
/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*